/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }				<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/



/*colors
#000 black
#111
#222 dark grey sidebar
#888 grey
#fff white: text
#cc3300 dark reddish orange: a hover
#eeaa00 yellow: header hover, h3
#dd7700 light orange: a
NEW COLORS
#660000 dark red
#cc3300 dark orange
#ff9900 orange
#ccffcc light blue
#33cc99 bright blue
*/


body.custom { background: #222; }
.custom #page { background-color: #000; }
.custom #content { color: #fff; background-color: #000; }
.custom #sidebars { color: #fff; background-color: #222; }
.custom a { color: #ff9900; text-decoration: none; }
.custom a:hover, .post div.comment_link a:hover, .post h2 a:hover, .post .entry a:hover, .post .entrytext a:hover { color: #cc3300; text-decoration: none; }

.custom code { background: none; }
/*.custom ul li.rss a { padding-left: 17px; background: url('images/feed-icon-14x14.png') left center no-repeat; }*/

/*---:[ universal image classes ]:---*/
.custom img.alignleft { float: left; clear: left; margin: 1em;}
.custom img.alignright { float: right; clear: right; margin: 1em;}

/*---:[ image captioning ]:---*/
.custom .wp-caption { border-style: solid; border-color: #ddd; background-color: #222; text-align: center; font-style: italic; }

/*---:[ headlines and bylines ]:---*/
.custom .sidebar h3 {font-variant: normal; letter-spacing: normal; color: #fff; }
.custom .entry-title h1 { color: #fff; } 

/*---:[ headline meta data (includes bylines) ]:---
#ccffcc light blue
#33cc99 dark blue*/
.custom .headline_meta span, .headline_meta abbr { font-style: normal; text-transform: none; letter-spacing: normal; }
.custom .headline_meta a { color: #33cc99;}
.custom .headline_meta a:hover { color: #ccffcc;}

/*---:[ nav menu styles ]:---*/


.custom .menu {height: 30px; margin-left: 1.1em;}
.custom .menu li {border-left: 1px solid #fff;}
.custom .menu .tab { margin-right: 1em;}
.custom .menu .tab-1 { border-left: 1px solid #fff;}
.custom .menu .tab-2 { border-left: 1px solid #fff;}
.custom .menu .current {border-bottom: 1px solid #000;}
.custom .menu a {margin-bottom: 0; padding: 6.5px;}
.custom .menu .tab a {margin-bottom: 0; padding: 6.5px;}
.custom .menu a {color:#fff; font-style: normal; letter-spacing: normal; }
.custom .submenu .item a { color: #fff; font-style: normal; text-transform: none; letter-spacing: normal; }

.custom ul.menu li.rss {border:none;}
.custom ul.menu li.rss a { padding-left: 17px; background: url('images/feed-icon-14x14.png') left center no-repeat; }

.custom ul.menu li.rss a:hover { text-decoration:none; padding-right:6.5px;}

/*.custom ul#tabs li.rss a { color: #fff; padding-right: 16px; background: url('images/feed-icon-14x14.png') 100% 50% no-repeat; }

.custom ul#tabs li.rss a:hover { text-decoration: none; }*/

/*---:[ #header styles ]:---*/
.custom #header {
	height: 100px; 
	margin: 0; 
	padding:0 0 5px 0; 
	border: 0px solid; border-color:#fff; 
	background: url('images/n3_scale4.jpg') no-repeat center top;}
.custom #header #logo { text-align:center; padding-top: 20px; font-weight: normal; text-transform: uppercase;}
.custom #header #logo a { color: #fff; }
.custom #header #logo a:hover { color: #fff; }
.custom #header #tagline { font-size:14pt; text-align:center; font-weight: normal; color: #fff; }

/*---:[ content styles ]:---*/
/*.custom .format_text p {font-family: Georgia, "Times New Roman", Times, serif;}
#660000 dark red
#cc3300 dark orange
#ff9900 orange
#ccffcc light blue
#33cc99 bright blue
*/
.custom .format_text p { line-height: 1.4; word-spacing: 0.1em; font-weight: 100;}
.custom .format_text h3 {color: #cc3300;}
.custom .format_text ul { list-style: disc; }
.custom .format_text li { line-height: 1.4; word-spacing: 0.1em; font-weight: 200;} /* font-family: Georgia, "Times New Roman", Times, serif; }*/
.custom .format_text ul li ul { list-style-type: circle; } /*font-family: Georgia, "Times New Roman", Times, serif;}*/
/*.custom .format_text ol { font-family: Georgia, "Times New Roman", Times, serif;}*/
.custom .format_text a.rss { padding-left: 17px; background: url('images/feed-icon-14x14.png') left center no-repeat;}
.custom .format_text dd {margin-left: 1em;} /* font-family: Georgia, "Times New Roman", Times, serif;}*/
.custom .format_text dt {font-weight: normal; margin-left: 0em;}

/*for Shared Links posts */
.custom li.shared { margin-bottom: 10px;}
li.gReader-item { margin-bottom: 10px;}
.gReader-notes { font-style: italic; } /*font-family: Georgia, "Times New Roman", Times, serif; } */
.gReader-source { display: inline; }

/*---:[ after-post elements ]:---*/
.custom .format_text .to_comments { color: #888; clear: both; }
	.custom .format_text .to_comments span { color: #888; line-height: 1em; }
	.custom .format_text .to_comments span.bracket { color: #888; }
	.custom .format_text .to_comments a { color: #888; text-decoration: none; }
	.custom .format_text .to_comments a:hover { text-decoration: underline; }

/* tags 
#ccffcc light blue
#33cc99 dark blue*/
	.post_tags { color: #666; }
	.post_tags a { color: #33cc99; text-decoration: none; }
	.post_tags a:hover { color: #ccffcc; text-decoration: none; }

/*---:[ home page teasers ]:---*/
/*.custom .teaser p {font-family: Georgia, "Times New Roman", Times, serif;}*/
.custom .teaser p {font-weight: 200;}
.custom .teaser .teaser_author a { text-transform: none; letter-spacing: normal; color: #eeaa001; border-bottom: 1px solid #eee; }
.custom .teaser .teaser_author a:hover {color:#cc3300;}
.custom .teaser .teaser_date { text-transform: none; letter-spacing: normal; }
.custom .teaser a.teaser_comments { text-transform: none; letter-spacing: normal; color: #888; border-bottom:none;}
.custom .teaser a.teaser_comments:hover {text-decoration: underline;}

/*---:[ sidebar styles ]:---
#660000 dark red
#cc3300 dark orange
#ff9900 orange
#ccffcc light blue
#33cc99 bright blue*/
.sidebar a {color: #cc3300;}
.sidebar a:hover { color: #ff9900; text-decoration: none; }
.custom li.widget ul { list-style-type: circle; 
	list-style-position: inside;
	margin-left: 0.5em;
		padding-left: 1em;
		text-indent: -1em;
		line-height: 1;
}
.custom #get_recent_comments_wrap li { line-height: 1.3; word-spacing: 0.1em; font-weight: 200;}

/*for Popularity Contest Sidebar Widget...get's rid of %. */
.akpc_report span { display: none; }
.akpc_report ol {list-style: circle; margin-left: 0.5em; line-height: 1;
		padding-left: 1em; }
.akpc_report li { margin-bottom: 10px;}


/*---:[ comment styles ]:---
#660000 dark red
#cc3300 dark orange
#ff9900 orange
#ccffcc light blue
#33cc99 bright blue*/
	.custom .comments_intro span { color: #888; line-height: 1em; }
	.custom .comments_intro span.bracket { color: #888; }
	dl#comment_list dt .comment_author { color: #33cc99; font-weight: normal; }
	.custom .comment_author a { color: #33cc99; text-decoration: underline; }
	.custom .comment_author a:hover { color: #ccffcc; }
	.custom .comment_time a, .edit_comment a { color: #888; }
	.custom .comment_time a:hover, .edit_comment a:hover { color: #fff;}
	.custom .comment_time a:hover {color: #fff; text-decoration: none;}
	dl#comment_list .bypostauthor { background: #222; }
			
/*---:[ comment form styles ]:---*/
.custom #commentform textarea {color: #000; background: #888;}

.custom div#respond input#acp-preview {font-weight: normal; color: #111; background: url('../lib/images/submit-bg.gif'); border: 3px double #999; border-top-color: #ccc; border-left-color: #ccc; cursor: pointer; width: auto !important; overflow: visible; }
.custom div#respond input#acp-preview:hover { color: #cc3300; }

.custom input.form_submit { font-weight: bold; color: #111; background: url('../lib/images/submit-bg.gif'); border: 3px double #999; border-top-color: #ccc; border-left-color: #ccc; cursor: pointer; width: auto !important; overflow: visible; }
.custom #commentform input.form_submit { border-width: 3px; }
.custom input.form_submit:hover { color: #cc3300; }

/*---:[ footer styles ]:---*/
.custom #footer { color:#000; margin:0; padding:0; background: url('images/footer_bg.png') no-repeat center top;}	
.custom #footer a { color: #000; border:none; }
.custom #footer a:hover { border-bottom: 1px solid #000;}
